body{
    background: #eeecec;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 900px;
    margin: auto;
}

.navbar {
    background-color: black;
}

.quemsomos {
    background-color: grey;
    color: white;
}

.sobre-mim{
    text-align: center;
}

.servicos{
    background-color: white;
    color: black;
}

.contato{
    background-color: black;
    color: white;
}

.margin{
    padding-top: 10px;
    padding-bottom: 50px;
}

.photo {
    border: 1px solid #505050;
    border-radius: 50%;
    height: 150px;
    width: 130px;
}

#title, .subtitle, .post_title {
    color: #505050;
}

#title {
    font-size: 40px;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: rgb(68, 53, 126);
}

.post_title {
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}

.post {
    background: white;
    padding: 15px;
    border: 3px solid #505050;
    margin-bottom: 10px;
    border-radius: 5px;
}

.post_content {
    margin: 0;
    margin-bottom: 15px;
    text-transform: capitalize;
    text-align: justify;
}

.post_img {
    margin-bottom: 15px;
    height: 600px;
    width: 100%;
}

.contacts_list {
    list-style-type: none;
    padding-left: 15px;
}

.contacts_list li a {
    text-decoration: none;
}